<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Management</title>

    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <nav>
        <h2 style="display: inline;" >EMPLOYEE MANAGEMENT</h2>
        <a class="nav-link" href="/deleteemployee.html">Delete Employee</a>
        <a class="nav-link" href="/addemployee.html">Add Employee</a>
        <a class="nav-link" href="/allemployees.html">All Employees</a>
    </nav>

    <div class="main">

    {% if status == 1 %}
        <p class="result-success">{{ result }}</p>
    {% endif %}

    {% if status == 0 %}
        <p class="result-error">{{ result }}</p>
    {% endif %}

    <h2>Enter the following details</h2>
    <form action="/addemployee.html" method="POST">
        <label for="empId"> Employee Id</label>
        <div>
            <input type="number" name="empId" id="empId" >
        </div>
        <br>
        <label for="empName">Full Name</label>
        <div>
            <input type="text" name="empName" id="empName" required>
        </div>
        <br>
        <label for="empMail">E-mail Id</label>
        <div>
            <input type="email" name="empEmail" id="empEmail">
        </div>
        <br>
        <label for="empDob">Date of Birth</label>
        <div>
            <input type="date" name="empDob" id="empDob" required>
        </div>
        <br>
        <label for="empNum">Mobile Number</label>
        <div>
            <input type="tel" name="empNum" id="empNum">
        </div>
        <br>
        <label for="empAdd">Address</label>
        <div>
            <textarea name="empAdd" cols="40" rows="4"></textarea>
        </div>
        <br>
        <div>
            <input type="reset" value="Reset"> &nbsp;
            <input type="submit" value="Add Employee">
        </div>
        <br>
        <br>
    </form>
    </div>

    <footer>
        Case study by Team 4
    </footer>
</body>

</html>
